</br>
 <script type="text/javascript">
     $(function() {
      
    //$('select[name="colorpicker"]').simplecolorpicker();      
     $('select[name="colorpicker"]').simplecolorpicker();
     $('#inputDateTime2').datetimepicker();
     //jQuery.datetimepicker.setLocale('ru');
     //jQuery('#inputDateTime2').datetimepicker();
     //($('#navbarDropdown').text().trim() == 'Гость')
   });
   </script> 

<form action='/visit' method='post' class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputName" class="col-sm-2 control-label">Ваше имя</label>
    <div class="col-sm-10">
      <input type="Text" class="form-control" autofocus name='inputName' id="inputName" placeholder="Введите ваше имя" value=<%= @inputName %> >
    </div>
  </div> 

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" name='inputEmail3' id="inputEmail3" placeholder="Введите ваш Email" value=<%= @inputEmail3 %>>
    </div>
  </div> 

  <div class="form-group">
    <label for="inputPhone" class="col-sm-2 control-label">Номер телефона</label>
    <div class="col-sm-10">
      <input type="Text" class="form-control" name='inputPhone' id="inputPhone" placeholder="Введите ваш номер телефона" value=<%= @inputPhone %> >
    </div>
  </div>
  
  <div class="form-group">
    <label for="inputDateTime" class="col-sm-3 control-label">Когда Вас ждать?</label>
    <div class="col-sm-10">
      <input type="Text" class="form-control" name='inputDateTime' id="inputDateTime2" autocomplete="off" placeholder="Введите дату и время" value=<%= @inputDateTime %>  >
    </div>
  </div>

  <div class="form-group">
    <label for="inputSpecialist" class="col-sm-4 control-label">Выберите парикмахера:</label>
    <div class="col-sm-10">
      <select class="form-control" name='inputSpecialist' id="inputSpecialist"  >
      	<option<%= @inputSpecialist == 'Walter White' ? ' selected' : '' %>>Walter White</option>
      	<option<%= @inputSpecialist == 'Jessie Pinkman' ? ' selected' : '' %>>Jessie Pinkman</option>
      	<option<%= @inputSpecialist == 'Gus Fring' ? ' selected' : '' %>>Gus Fring</option>
      </select>
    </div>
  </div>

 <div class="form-group">
    <label for="colorpicker" class="col-sm-5 control-label">В какой цвет вас окрасить?</label>
    <select name="colorpicker" id='colorpicker'>
      <option value="#7bd148">Green</option>
      <option value="#5484ed">Bold blue</option>
      <option value="#a4bdfc">Blue</option>
      <option value="#46d6db">Turquoise</option>
      <option value="#7ae7bf">Light green</option>
      <option value="#51b749">Bold green</option>
      <option value="#fbd75b">Yellow</option>
      <option value="#ffb878">Orange</option>
      <option value="#ff887c">Red</option>
      <option value="#dc2127">Bold red</option>
      <option value="#dbadff">Purple</option>
      <option value="#e1e1e1">Gray</option>
    </select>
</div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
      <div class="checkbox">
        <label>
          <input type="checkbox" name='inputRememberMe'> Запомнить меня
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </div>
  

</form>
